/* Coolors Exported Palette - https://coolors.co/abc1ca-638cad-e3e9ea-927166-ce937c-d3e0e4 */

/* CSS HEX */
--beau-blue: #ABC1CAff;
--cerulean-frost: #638CADff;
--platinum: #E3E9EAff;
--burnished-brown: #927166ff;
--antique-brass: #CE937Cff;
--gainsboro: #D3E0E4ff;

/* CSS HSL */
--beau-blue: hsla(197, 23%, 73%, 1);
--cerulean-frost: hsla(207, 31%, 53%, 1);
--platinum: hsla(189, 14%, 90%, 1);
--burnished-brown: hsla(15, 18%, 49%, 1);
--antique-brass: hsla(17, 46%, 65%, 1);
--gainsboro: hsla(194, 24%, 86%, 1);

/* SCSS HEX */
$beau-blue: #ABC1CAff;
$cerulean-frost: #638CADff;
$platinum: #E3E9EAff;
$burnished-brown: #927166ff;
$antique-brass: #CE937Cff;
$gainsboro: #D3E0E4ff;

/* SCSS HSL */
$beau-blue: hsla(197, 23%, 73%, 1);
$cerulean-frost: hsla(207, 31%, 53%, 1);
$platinum: hsla(189, 14%, 90%, 1);
$burnished-brown: hsla(15, 18%, 49%, 1);
$antique-brass: hsla(17, 46%, 65%, 1);
$gainsboro: hsla(194, 24%, 86%, 1);

/* SCSS RGB */
$beau-blue: rgba(171, 193, 202, 1);
$cerulean-frost: rgba(99, 140, 173, 1);
$platinum: rgba(227, 233, 234, 1);
$burnished-brown: rgba(146, 113, 102, 1);
$antique-brass: rgba(206, 147, 124, 1);
$gainsboro: rgba(211, 224, 228, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);
$gradient-right: linear-gradient(90deg, #ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);
$gradient-bottom: linear-gradient(180deg, #ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);
$gradient-left: linear-gradient(270deg, #ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);
$gradient-top-right: linear-gradient(45deg, #ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);
$gradient-bottom-right: linear-gradient(135deg, #ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);
$gradient-top-left: linear-gradient(225deg, #ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);
$gradient-bottom-left: linear-gradient(315deg, #ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);
$gradient-radial: radial-gradient(#ABC1CAff, #638CADff, #E3E9EAff, #927166ff, #CE937Cff, #D3E0E4ff);